{% namespace j2.assignment %}
{% macro test_assignment() %}
{% set value = 1 %}
{{ value }}
{% set value = 2 %}
{{ value }}
{% endmacro %}

{% macro test_assignment_param(param) %}
{% set param = param + '?' %}
{{ param }}
{% endmacro %}
