{% macro test_and(a, b) -%}
{% if a and b %}True{% endif %}
{%- endmacro %}

{% macro test_or(a, b) -%}
{% if a or b %}True{% endif %}
{%- endmacro %}

{% macro test_xor(a, b) -%}
{% if (a or b) and not (a and b) %}True{% endif %}
{%- endmacro %}

{% macro test_alt_xor(a, b) -%}
{% if (not a and b) or (a and not b) %}True{% endif %}
{%- endmacro %}
