{% namespace j2.call_macro_with_arg %}
{% macro testif(option) -%}
{% if option %}
{{ option }}
{% endif %}
{% endmacro %}

{% macro testcall_kwarg() %}
{{ testif(option=true) }}
{% endmacro %}

{% macro testcall_arg() %}
{{ testif(true) }}
{% endmacro %}
