{% namespace j2.import %}
{% from "keyword_args.jinja" import mixed_macro %}

{% macro test_pos_arg() %}
{{ mixed_macro('foo_pos') }}
{% endmacro %}

{% macro test_pos_args() %}
{{ mixed_macro('foo_pos', 'bar_pos') }}
{% endmacro %}

{% macro test_mixed_args() %}
{{ mixed_macro('foo_arg', bar='bar_kw') }}
{% endmacro %}

{% macro test_all_kwargs() %}
{{ mixed_macro(foo='foo_arg', bar='bar_kw') }}
{% endmacro %}
